venv/
.venv/
node_modules/
__pycache__/
*.py[codz]
*$py.class
#.git/
#.gitignore
.dockerignore
.vscode/
.pytest_cache/
coverage/
data/
tmp/
cache/
server.log
image_stats.duckdb
#app/static/js/client/
package-lock.json
#*.png
#*.jpg
#*.jpeg
#*.gif
