fastapi
uvicorn
google-cloud-storage
duckdb
pillow
numpy
jinja2
python-multipart
pytest
httpx
pytest-asyncio

#HOG features, skimage
scikit-image
matplotlib

#ai classifier, models
transformers
torch
