fastapi
uvicorn
datamodel-code-generator
google-cloud-storage
duckdb
pillow
#numpy 2.0  has breaking changes as dependency for opencv-python-headles
numpy<2.0.0
jinja2
python-multipart
pytest
httpx
pytest-asyncio

#HOG features, skimage
scikit-image
matplotlib

#ai classifier, models
transformers

#histogram analysis
opencv-python-headless==4.5.5.64
