fastapi
uvicorn
datamodel-code-generator
google-cloud-storage
duckdb
pillow
#numpy 2.0 had breaking changes as dependency for opencv-python-headles
numpy
jinja2
python-multipart
pytest
httpx
pytest-asyncio

#HOG features, skimage
scikit-image
matplotlib

#ai classifier, models
transformers

#histogram analysis
opencv-python-headless

#frontend integration testing
playwright
pytest-playwright
